<ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
      {{ err }}
    </li>
  </ul>
  
  <div class="card bg-dark text-white">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
  
      <form #songForm="ngForm">
        <div class="form-group row">
          <label for="name" class="col-form-label col-sm-2">NOMBRE</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="songs.name" name="name" #name="ngModel">
            <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
              <div *ngIf="name.errors.required">
                Nombre es requerido
              </div>
              <div *ngIf="name.errors.minlength">
                el nombre debe tener al menos 4 caracteres
              </div>
            </div>
          </div>
        </div>
  
        <div class="form-group row">
          <div class="col-sm-6">
            <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!songs.id else elseBlock"
              [disabled]="!songForm.form.valid">Crear</button>
            <ng-template #elseBlock>
              <button class="btn btn-primary" role="button" (click)='update()'
                [disabled]="!songForm.form.valid">Editar</button>
            </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
  